[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "logStirling2"]
	path = logStirling2
	url = https://github.com/jblood94/logstirling2
